<h1><%= pluralize(@flix.size, 'Flick', plural: 'Flix') %></h1>
<%= link_to 'Hits', filtered_movies_path(:hits) %>
<%= link_to 'Flops', filtered_movies_path(:flops) %>
<%= link_to 'Upcoming', filtered_movies_path(:upcoming) %>
<ul>
  <% @flix.each do |flick| %>
    <li><%= link_to(flick.title, movie_path(flick)) %> (<%=flick.rating %>):
      <%= format_total_gross(flick) %></li>
    <p>Description: <%= truncate(flick.description, length: 40,
                                 separator: ' ') %></p>
    <p>Released on <%= flick.released_on.to_s(:default)%></p>
  <% end %>
</ul>

<%= link_to("Add new movie", new_movie_path) %>
