<h1><%= pluralize(@flix.size, 'Flick', 'Flix') %><h1>
<ul>
  <% @flix.each do |flick| %>
    <li><%= flick.title %> (<%=flick.rating %>):
      <%= format_total_gross(flick) %></li>
    <p>Description: <%= truncate(flick.description, length: 40,
                                 separator: ' ') %></p>
    <p>Released on <%= flick.released_on.to_s(:default)%></p>
  <% end %>
</ul>
