<h1><%= @movie.title %> (<%= @movie.rating %>)</h1>
<p><%= @movie.description %></p>
<p><%= pluralize(@movie.duration_in_minutes, 'minute') %></p>
<% if @fans.any? %>
<h2>Fans of <%= @movie.title %></h2>
  <% @fans.each do |fan| %>
    <p><%= link_to(fan.full_name, user_path(fan)) %></p>
  <% end %>
<% end %>
<p><%= link_to("Register for #{@movie.title}",
              new_movie_registration_path(@movie)) %></p>
<p><%= link_to("Registrations", movie_registrations_path(@movie)) %></p>
<% if current_user_admin? %>
<%= link_to("Edit #{@movie.title}", edit_movie_path) %> |
<%= link_to("Remove #{@movie.title}", movie_path(@movie), method: :delete,
            data: { confirm: "Are you sure you want to remove #{@movie.title}?"})
            %>
<% end %>
