<%= form_for(@user) do |f| %>
  <%= render 'shared/errors', object: @user %>
  <p><%= f.label :first_name %></p>
  <p><%= f.text_field :first_name, autofocus: true %></p>
  <p><%= f.label :last_name %></p>
  <p><%= f.text_field :last_name%></p>
  <p><%= f.label :email %></p>
  <p><%= f.text_field :email%></p>
  <p><%= f.label :password %></p>
  <p><%= f.password_field :password%></p>
  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation%></p>
  <% if @user.new_record? %>
    <%= f.submit %> | <%= link_to("Cancel", root_path) %>
  <% else %>
    <%= f.submit %> | <%= link_to("Cancel", root_path) %>
  <% end %>
<% end %>
