<%= render 'shared/errors', object: @registration %>
<%= form_for([@movie,@registration]) do |f| %>
  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :how_heard %>
        <%= f.select :how_heard, Registration::HOW_HEARD_OPTIONS %>
      </li>
    </ol>
    <p>
      <%= f.submit %>
      <%= link_to "Cancel", movie_path(@movie), class: 'button' %>
    </p>
  </fieldset>
<% end %>
