<!DOCTYPE html>
<html>
  <head>
    <title>Flix</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/partials/header' %>
  <%= render 'layouts/partials/aside' %>
    <!-- yield just outputs the result of whatever action we run -->
    <%= flash[:notice] if flash[:notice] %>
    <%= yield %>
  <%= render 'layouts/partials/footer' %>
  </body>
</html>
